*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
width: 80%;
margin: 50px auto;
}

input{
    margin-top: 30px!important;
    margin-right: 10px;
}

.lista{
    margin: 40px!important;
    background-color: lightblue;
    width: 700px!important;
}

h1{
    text-align: center;
    margin-top: 20px;
    width: 300px
}

.w_100{
    margin-top: 30px!important;
    width:  100px!important;
}

.w_800{
    width: 800px!important;
    margin-right: 20px;
}

.sbarrato{
    text-decoration: line-through;
}

li{
    cursor: pointer;
}